---
layout: layouts/base
---
<section class="about">
    <article class="about-bio">
        {{ content | safe }}
    </article>
    <article class="about-contact">
        <div>
            <h1>Executive Committee</h1>
            <ul>
                <li>Local Board Chair, Jessica Lowrance: <br><a href="mailto:wluachair@gmail.com">wluachair@gmail.com</a>
                </li>
                <li>Vice Chair, John Hansen: <br><a href="mailto:jchansen14@verizon.net">jchansen14@verizon.net</a></li>
                <li>Secretary, Erika Burns: <br><a href="mailto:burns.erika.l@gmail.com">burns.erika.l@gmail.com</a></li>
                <li>Treasurer, Pat Dillon: <br><a href="mailto:pdillon656@aol.com">pdillon656@aol.com</a></li>
                <li>First Past Chair, Cathy Russo: <br><a href="mailto:cathyrussolax@gmail.com">cathyrussolax@gmail.com</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>Committee Chairs</h1>
            <ul>
                <li>Training Chair, Jessica Lowrance: <br><a href="mailto:wluachair@gmail.com">wluachair@gmail.com</a></li>
                <li>Ratings Chair, Mary Ann Wagner: <br><a href="mailto:mawagner@cox.net">mawagner@cox.net</a></li>
                <li>Mentor Program Chair, David Falzarano: <br><a href="mailto:dfalz1492@gmail.com">dfalz1492@gmail.com</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>Assigners</h1>
            <ul>
                <li>High School Assigner, Margaret Kondracki: <br><a
                        href="mailto:assigner.wlua@gmail.com">assigner.wlua@gmail.com</a></li>
                <li>Youth Program Assigner, Jen Roane: <br><a href="mailto:wluayouth@gmail.com">wluayouth@gmail.com</a></li>
                <li>St. James Assigner, Jessica Lowrance: <br><a href="mailto:wluachair@gmail.com">wluachair@gmail.com</a>
                </li>
            </ul>
        </div>
        <div>
            <h1>NVYLL Junior Umpire Program</h1>
            <ul>
                <li>Youth Program Coordinator, Jen Roane: <br><a href="mailto:wluayouth@gmail.com">wluayouth@gmail.com</a>
                </li>
            </ul>
        </div>
        </article>
        <article class="awards">
            <h1>Awards &amp; Memorials</h1>
            <h2>Madelaine B. Kirlin Award</h2>
            <p>Presented annually to the umpire and junior umpire who best demonstrate the qualities of dedication, hard
                work and service that Madelaine exemplified during her life. Madelaine was a long-time high school and
                college umpire with WLUA that went above and beyond her umpire responsibilities. She served as a mentor,
                leader and dear friend to all. She was the kind of partner all wanted to work with. Her passion for
                lacrosse
                and giving to our lacrosse community surpassed her responsibility of being on the field.</p>
            <details>
                <summary>Past Recipients</summary>
                <ul>
                    <li>2018 – Jessica Lowrance &amp; Colleen Novotny</li>
                    <li>2017 – Pam Shea &amp; Kelly Galloway</li>
                    <li>2016 - John Hansen &amp; Amelia Crabtree</li>
                    <li>2015 - Mary Wagner &amp; Megan Barlow</li>
                    <li>2014 - Barry Barbini &amp; Paige Walton</li>
                    <li>2013 - Meaghan Oakes</li>
                    <li>2012 - Danni Zuralow &amp; Mike Zuralow</li>
                    <li>2009 - Greg Gochnour &amp; Bridget Corridon</li>
                    <li>2008 - Ann Ljone &amp; Margaret Kondracki</li>
                    <li>2007 - Patti Cleary &amp; Kristi Arenian</li>
                </ul>
            </details>
            <h2>Potomac Chapter Hall of Fame</h2>
            <p>To honor those men and women, who by their outstanding achievements, noteworthy service, and laudable
                character, exemplify the spirit of the game of lacrosse, and who, through their extraordinary
                dedication,
                commitment and contribution, have advanced the growth and excellence of lacrosse in the greater
                Washington,
                DC metropolitan area.</p>
            <details>
                <summary>Past Recipients</summary>
                <ul>
                    <li>2018 - Mary Patricia Cleary</li>
                    <li>2018 - Ashley McCullough</li>
                    <li>2017 - Margaret Kondracki</li>
                    <li>2015 - Tracy Swecker Jaeger</li>
                    <li>2006 - Elaine P. Knobloch</li>
                    <li>2005 - Susan L. Ganzenmuller</li>
                    <li>2004 - Patricia M. Dillon</li>
                </ul>
            </details>
            <h2>WLUA Sportsmanship Award</h2>
            <p>This is awarded annually to a youth girls lacrosse club which consistently displays good sportsmanship
                from
                its players, coaches and fans throughout the NVYLL Spring season. The WLUA acknowledges the value that
                good
                sportsmanship brings to the game, enabling a positive environment where all involved can play safely,
                fairly, and, most importantly, have fun.</p>
            <details>
                <summary>Past Recipients</summary>
                <ul>
                    <li>2019 - Vienna Youth Lacrosse</li>
                </ul>
            </details>
            </articles>
</section>