---
layout: layouts/base
title: Resources
---

<div class="resources">
  
    {{ content | safe }}
    <h2>WLUA</h2>
    <ul>
      <li>
        WLUA Bylaws
        <a class="new-window" href="/img/pdf/wlua-bylaws.pdf">PDF</a>
        <a href="/img/pdf/wlua-bylaws.pdf" download>Download</a>
      </li>
      <li>
        WLUA Policies & Procedures
        <a class="new-window" href="/img/pdf/wlua-policies-and-procedures.pdf"
          >PDF</a
        >
        <a href="/img/pdf/wlua-policies-and-procedures.pdf" download
          >Download</a
        >
      </li>
      <li>
        WLUA Game Timing Procedures
        <a class="new-window" href="/img/pdf/wlua-game-timing-procedures.pdf"
          >PDF</a
        >
        <a href="/img/pdf/wlua-game-timing-procedures.pdf" download>Download</a>
      </li>
      <li>
        Officials Conflict of Interest Guidelines
        <a class="new-window" href="/img/pdf/wlua-conflict-of-interests.pdf"
          >PDF</a
        >
        <a href="/img/pdf/wlua-conflict-of-interests.pdf" download>Download</a>
      </li>
      <li>
        Code of Ethical Conduct
        <a class="new-window" href="/img/pdf/wlua-code-of-ethics.pdf">PDF</a>
        <a href="/img/pdf/wlua-code-of-ethics.pdf" download>Download</a>
      </li>
    </ul>

    <h2>USA Lacrosse</h2>
    <ul>
      <li>
        USA Lacrosse | The National Governing Body of Lacrosse
        <a class="new-window" href="https://www.usalacrosse.com/"></a>
      </li>
      <li>
        USA Lacrosse Rulebook
        <a
          class="new-window"
          href="https://www.usalacrosse.com/rules/girls-rules"
        ></a>
      </li>
      <li>
        USA Lacrosse Rules 2021 Memo
        <a class="new-window" href="/img/pdf/usl-rules-memo.pdf">PDF</a>
        <a href="/img/pdf/usl-rules-memo.pdf" download> Download</a>
      </li>
      <li>
        USA Lacrosse Rules 2021 Interpretations
        <a class="new-window" href="/img/pdf/usl-rules-interpretations.pdf"
          >PDF</a
        >
        <a href="/img/pdf/usl-rules-interpretations.pdf" download> Download</a>
      </li>
      <li>
        USA Lacrosse Rules 2021 Video<a
          class="new-window"
          href="https://www.youtube.com/watch?v=hXiCPxMFKXY&t=1s"
        ></a>
      </li>
    </ul>
    <h2>
      Arbiter Sports<a class="new-window" href="https://arbitersports.com"></a>
    </h2>
    <ul>
      <li>
        Arbiter Pay
        <a class="new-window" href="/img/pdf/wlua-arbiter-pay.pdf">PDF</a>
        <a href="/img/pdf/wlua-arbiter-pay.pdf" download>Download</a>
      </li>
      <li>
        Tips for Game Assignment
        <a class="new-window" href="/img/pdf/tips-for-game-assignment.pdf"
          >PDF</a
        >
        <a href="/img/pdf/tips-for-game-assignment.pdf" download>Download</a>
      </li>
    </ul>
  
    <h2>Mentor Program</h2>

    <p>
      <a class="new-window" href="/img/pdf/wlua-mentor-program.pdf">PDF</a>
      <a href="/img/pdf/wlua-mentor-program.pdf" download>Download</a>
    </p>

    <h2>Rating Program</h2>

    <p>
      <a class="new-window" href="/img/pdf/wlua-rating-program.pdf">PDF</a>
      <a href="/img/pdf/wlua-rating-program.pdf" download>Download</a>
    </p>
  </div>
  <div class="res-form">
    <section class="res-feedback">

      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSckm1nv9PdLib0QNAXyBfcLmFGW5rJKzj8Uhbzm5B2dRobqbA/viewform?embedded=true"
        width="500"
        height="1800"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Loading…</iframe
      >
    </section>
  </div>

