---
layout: layouts/base
---
<div class="rules-lists">
    <div>
        <h1>USA Lacrosse</h1>
        <ul>
            <li><a class="new-window"
                    href="https://www.usalacrosse.com/news-media-blog/high-school-girls-lacrosse-rules-changes-announced-2022-season">Rules
                    2022 Memo</a></li>
            <li><a class="new-window"
                    href="https://www.nfhs.org/articles/2022-high-school-girls-lacrosse-rules-changes-continue-efforts-to-improve-the-flow-of-the-game/?utm_source=delivra&utm_medium=email&utm_campaign=2022%20NFHS%20Girls%20Lacrosse%20Rules%20Changes&utm_id=3101921&utm_term=2022+Girls+Lacrosse+Rules+Changes+Press+Release&dlv-emuid=49d530dc-1457-4869-b123-a5680cfbc7f3&dlv-mlid=3101921">NFHS
                    2022 Memo</a></li>
            <li><a class="new-window" href="https://www.usalacrosse.com/rules/girls-rules">Rules Presentation</a></li>
            <li><a class="new-window" href="https://www.youtube.com/watch?v=hXiCPxMFKXY&t=1s">Rules 2021 Video</a></li>
            <li><a class="new-window"
                    href="https://www.usalacrosse.com/blog/equipment-reminders-from-us-lacrosse">Equipment
                    Reminders</a></li>
        </ul>
    </div>
    <div>
        <h1>Northern Virginia Youth Lacrosse League</h1>
        <ul>
            <li>Rules & Regulations <a class="new-window" href="/img/pdf/nvyll-rules-regulations.pdf">PDF</a> <a
                    href="/img/pdf/nvyll-rules-regulations.pdf" download>Download</a></li>
        </ul>
    </div>
    <div class="rules-stretch">
        <h1>National Federation of State High School Associations
            <span><a class="new-window" href="https://www.nfhs.org/activities-sports/lacrosse-girls/"></a></span>
        </h1>
    </div>
</div>