---
layout: layouts/base
---
<div class="youth">

    <div class="youth-md">
        <p style="font-size: 1.5rem; color: red;">Junior Umpire Registration Opens Labor Day</p>
        <h1>Resources</h1>
        <ul>
            <li>Tips for Game Assignment <a class="new-window" href="/img/pdf/cheat-sheet.pdf">PDF</a> <a
                    href="/img/pdf/cheat-sheet.pdf" download>Download</a></li>
            <!--missing!-->
            <li>Timer Scorer Duties (missing) <a class="new-window" href="/img/pdf/cheat-sheet.pdf">PDF</a> <a
                    href="/img/pdf/cheat-sheet.pdf" download>Download</a></li>
            </li>
            <li>Northern Virginia Youth Lacrosse League<a class="new-window" href="https://nvyll.org"></a></li>
        </ul>
        {{ content | safe }}
    </div>

</div>
<div class="youth-form">
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSc0CAebr83YUyvRPgwpTSNlYA7lkt_Lh1nMkgD9jmpiGsfQ8g/viewform?embedded=true"
        width="500" height="1450" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>