<footer>
    <div class="footer-contain">
        <div class="footer-link">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/training">Training</a></li>
                <li><a href="/youth">Junior Umpires</a></li>
                <li><a href="#top">Back to Top</a></li>
                <li><a class="footer-icon" href="https://www.facebook.com/WLUAcommunity/">
                    <img src="/img/fb-logo.png" 
                         alt="Washington Lacrosse Umpires Association Facebook Page" 
                         height="36" width="36" 
                    />
                </a></li>
            </ul>
        </div>
    </div>
</footer>