<header>
  <div class="header-banner" id="top">
    <p>{{site.banner}} Are you <a href="/youth">under</a> or <a href="/training">over</a> 18?</p>
  </div>

  <!-- navigation -->

  <nav>
    <a href="/" class="brand" title="Home page link">
      <img src="/img/wlua-logo.jpg" alt="WLUA logo" height="50" width="50" />
    </a>
    <ul class="nav-list" id="navbar__menu">
      <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
      <li class="nav-item"><a class="nav-link" href="/rules">Rules</a></li>
      <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
      <li class="nav-item"><a class="nav-link" href="/training">Training</a></li>
      <li class="nav-item"><a class="nav-link" href="/youth">Junior Umpires</a></li>
    </ul>
    <button class="mobile-button" id="navbar__mobileButton">
      Menu
    </button>
  </nav>
</header>